* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Andale Mono", AndaleMono, monospace;
    letter-spacing: -0.2px;
    word-spacing: -1.2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #181818;
    color: #fff;
}

#redirector {
    text-align: center;
}

#redirector h1 {
    font-size: 72px;
    text-shadow: -5px 5px 4px #111;
    margin-top: 1.5em;
    animation: fadeInH1 ease 0.5s;
}

#redirector p {
    font-size: 28px;
    text-shadow: -5px 5px 4px #111;
}

#p1 {
    animation: fadeInP ease 0.5s 0.5s both;
}

#p2 a {
    color: #e94f64;
}

#p2 {
    animation: fadeInP ease 0.5s 1s both;
}

#p3 {
    animation: fadeInP ease 0.5s 1.5s both;
}

#p4 {
    animation: fadeInP ease 0.5s 2s both;
}

#p4 a {
    color: #42f584;
}

@keyframes fadeInH1 {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    100% {
        opacity: 1;
        margin-top: 1.5em;
    }
}

@keyframes fadeInP {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    100% {
        opacity: 1;
        margin-top: 1.5em;
    }
}

.page-section {
    display: flex;
    color: #fff;
    padding: 1em 3em;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
}

#content {
    background-color: #212121;
    padding: 10px;
    display: flex;
    color: #fff;
    padding: 1em 3em;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
}

.content-header {
    border: 10px;
    padding: 10px;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 30px;
    text-shadow: #212121 -3px 3px 5px;
    text-align: center;
    color: #FFFFFF;
}


.image-label {
    font-size: 32px;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
    text-shadow: -5px 5px 4px #111;
}

.image-label:hover {
    color: #6153CC;
}

.image-row {
    display: flex;
    flex-direction: row;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
}

.image-row a {
    text-decoration: none !important;
}

.image-row img {
    width: auto;
    height: 192px;
    padding: 1.5em;
}

.image-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--mint-white);
    border-radius: 0px 15px 15px 0px;
}

@media screen and (max-width: 1366px) {
    .image-column {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--mint-white);
        border-radius: 0px 0px 15px 15px;
    }
}


.image-column img {
    width: 3em;
    height: 3em;
    padding: 0.5em 0.5em;
}

#header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #333333, #212121);
}

#headerlink {
    color: white;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerIcon {
    padding: 1em;

}

#headerText {
    padding: 5px;
    font-size: 50px;
    color: white;
}

nav {
    height: 148px;
    line-height: 148px;
    font-size: 24px;
    padding: 0 5%;
    text-align: center;
}

nav a {
    color: white;
    text-shadow: -5px 5px 4px #111;
    text-decoration: none !important;
}

nav a:not(.selected-nav):hover {
    color: lightgray !important;
}

nav .selected-nav {
    color: #80f8ac !important;
}

nav .selected-nav:hover {
    color: #30c466 !important;
}

#links {
    height: 148px;
    line-height: 148px;
    padding-right: 1%;
    color: white;
}

.links {
    text-decoration: none !important;
}

.links img {
    vertical-align: middle;
    padding-left: 10px;
}

#video {
    vertical-align: middle;
    text-align: center;
    background-color: #212121;
    padding: 10px;
}

.category {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    border: 10px;
    border-radius: 25px;
}

.category a {
    color: white;
    text-decoration: underline;
}

.categorylink {
    float: none;
    font-size: 30px;
}

.categoryimage {
    padding: 10px;
    float: none;
}

.categorynotes {
    font-size: 20px;
    color: white;
    font-style: italic;
}

#copyright {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    background-color: #111;
    color: white;
    position: fixed;
    bottom: 0;
    animation: fadeInCopyright ease 0.5s 0.5s both;
}

@keyframes fadeInCopyright {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    0% {
        margin-left: -4em;
        opacity: 0;
    }

    100% {
        margin-left: 0em;
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s both;
}

.fade-in-from-left {
    animation: fadeInFromLeft 0.5s both;
}

.delay-animation {
    animation-delay: 0.5s;
}