* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Andale Mono", AndaleMono, monospace;
    letter-spacing: -0.2px;
    word-spacing: -1.2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #212121;
    color: #fff;
}

#redirector {
    text-align: center;
}

#redirector h1 {
    font-size: 72px;
    text-shadow: -5px 5px 4px #111;
    margin-top: 1.5em;
    animation: fadeInH1 ease 1s;
}

#redirector p {
    font-size: 28px;
    text-shadow: -5px 5px 4px #111;
}

#p1 {
    animation: fadeInP ease 1s 1s both;
}

#p1 a {
    color: #e94f64;
}

#p2 {
    animation: fadeInP ease 1s 2s both;
}

#p3 {
    animation: fadeInP ease 1s 3s both;
}

#p3 a {
    color: #42f584;
}

@keyframes fadeInH1 {
    0% {
        opacity: 0;
        margin-top: 0;
    }
    100% {
        opacity: 1;
        margin-top: 1.5em;
    }
}

@keyframes fadeInP {
    0% {
        opacity: 0;
        margin-top: 0;
    }
    100% {
        opacity: 1;
        margin-top: 1.5em;
    }
}

#content {
    background-color: #212121;
    padding: 10px;
}

.contentHeaders {
    border: 10px;
    padding: 10px;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

#header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #333333, #212121);
}

#headerlink {
    color: white;
    text-decoration: none!important;
}

#headerIcon {
    padding: 5px;
    float: center;
    vertical-align: middle;
}

#headerText {
    padding: 5px;
    font-size: 50px;
    float: center;
    color: white;
}

#links {
    height: 148px;
    line-height: 148px;
    padding-right: 2%;
    vertical-align: center;
    font-size: 50px;
    color: white;
}

.links {
    text-decoration: none!important;
}

.links img {
    vertical-align: middle;
    padding-left: 10px;
}

#video {
    vertical-align: middle;
    text-align: center;
    background-color: #212121;
    padding: 10px;
}

.category {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    border: 10px;
    border-radius: 25px;
}

.category a {
    color: white;
    text-decoration: underline;
}

.categorylink {
    float: none;
    font-size: 30px;
}

.categoryimage {
    padding: 10px;
    float: none;
}

.categorynotes {
    font-size: 20px;
    color: white;
    font-style: italic;
}

#copyright {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    background-color: #111;
    color: white;
    position: fixed;
    bottom: 0;
    animation: fadeInCopyright ease 1s 4s both;
}

@keyframes fadeInCopyright {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}